.content {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  border: 1px solid rgb(147, 147, 160);
}

.rectangle {
  width: 150px;
  padding: 10px;
  text-align: center;
  background-color: rgb(207, 232, 220);
  border: 1px solid grey;
}

.conteiner {
  display: flex;
  justify-content: space-between;  
  align-items: center;
  padding: 5px;
  gap: 30px;
}

.rectangle__right--little {
  width: 75px;
  padding: 3px;
}

.block4 {
  display: flex;  
  justify-content: center;
  padding: 15px;
  border: 1px solid rgb(147, 147, 160);
  gap: 40px;
}

.block4 > div {
  width: 150px;
  height: 150px;
}

.sqaure {
  width: 150px;
  height: 150px;
  background-color: rgb(207, 232, 220);
  border: 1px solid rgb(147, 147, 160);
}

.block4 .right {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 20px;
}

.block4 .right > div {
  background-color: rgb(207, 232, 220);
  border: 1px solid rgb(147, 147, 160);
  flex-basis: 25%;
}

.block5 {
  display: flex;
  justify-items: center;
  justify-content: flex-end;
  padding: 15px;
  border: 1px solid rgb(145, 145, 145);  
  gap: 40px;
}

.block5 > div {
  width: 150px;
  height: 150px;
}

.block5 .right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.block5 .right > div {
  background-color: rgb(207, 232, 220);
  border: 1px solid rgb(147, 147, 160);
  flex-basis: 25%;
}