.content {
  display: flex;
  justify-content: space-between;
  width: 850px;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  border: 2px solid rgb(147, 147, 160);
}

.rectangle {
  width: 150px;
  padding: 10px;
  text-align: center;
  background-color: rgb(207, 232, 220);
}

.conteiner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 425px;
  margin-left: auto;
  margin-right: 0px;
  padding: 5px;
}

.rectangle__right--little {
  width: 75px;
  padding: 3px;
}

.conteiner_square {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 425px;
  margin-left: 0px;
  margin-right: auto;
}

.conteiner_column {
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}

.rectangle__right__pad0 {
  padding: 0px;
}

.conteiner_square--right {
  width: 690px;
}

.conteiner_rectangle--right {
  width: 150px;
}