.content {
  width: 850px;
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
  padding: 15px;
  border: 2px solid rgb(147, 147, 160);  
}

.rectangle {
  width: 150px;  
  padding: 10px;
  text-align: center;
  background-color: rgb(207, 232, 220);  
  border: 1px solid grey;
}

.rectangle__left {
  float: left;
  margin-right: 15px;
}

.rectangle__right {
  float: right;
  margin-left: 15px;
}

.rectangle__right--little {   
  float: right;
  width: 75px;
  margin-top: 25px;  
  margin-left: 15px;
  padding: 3px;
}

.container {
  width: 380px;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  overflow: auto;
}

.square {
  float: left;
  width: 150px;
  height: 150px;  
  padding: 10px;
  text-align: center;
  background-color: rgb(207, 232, 220);
  border: 1px solid grey;
}

.rectangle__right__mr {
  margin-bottom: 20px;
  margin-top: 20px;
}

.rectangle__right__pad0 {
  padding: 0px;
}

.container_mr0 {
  width: 380px;
  margin-left: auto;  
  margin-right: 0px;
  padding: 5px;
  overflow: auto;
}