.block4 {
  display: flex;
  gap: 50px;
  justify-content: center;
  border: 2px solid rgb(147, 147, 160);
}

.block4 > div {
  width: 300px;
  height: 300px;
}

.sqaure {
  width: 300px;
  height: 300px;
  background-color: rgb(207, 232, 220);
  border: 2px solid rgb(147, 147, 160);
}

.block4 .right {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 20px;
}

.block4 .right > div {
  background-color: rgb(207, 232, 220);
  border: 2px solid rgb(147, 147, 160);
  flex-basis: 25%;
}

.block5 {
  display: flex;
  gap: 50px;
  justify-items: center;
  justify-content: end;
  border: 2px solid rgb(145, 145, 145);
}

.block5 > div {
  width: 300px;
  height: 300px;
}

.block5 .right {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 20px;
}

.block5 .right > div {
  background-color: rgb(207, 232, 220);
  border: 2px solid rgb(147, 147, 160);
  flex-basis: 25%;
}